.gifts-section
{
  width: 1000px ;
  margin-left: auto ;
  margin-right: auto ;
  background-color: white;
  border-radius: 10px;

}

.gifts
{
margin: 25px;
color : white;
font-size: 35px;
font-family: Pristina;
font-style: bold;
text-align: center;
}
.gifts-text
{
  margin: 20px 20px 20px 20px;
  color: blue;
  font-style: bold;
  font-size: 20px;
  font-family: sans-serif;
}



label.amazon{
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/amazon-gift.png) no-repeat left top;
  height: 54px;
  padding-left: 100px;
  padding-top: 3px;
  margin-left: 60px;

}

label.google{
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/google-play.png) no-repeat left top;
  height: 54px;
  padding-left: 100px;
  padding-top: 3px;
  margin-left: 60px;

}

label.itunes{
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/apple-icon.png) no-repeat left top;
  height: 54px;
  padding-left: 100px;
  padding-top: 3px;
  margin-left: 60px;

}

label.target{
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/target-icon.png) no-repeat left top;
  height: 54px;
  padding-left: 100px;
  padding-top: 3px;
  margin-left: 60px;

}
