@import url(http://fonts.googleapis.com/css?family=Roboto:400, 400italic, 500, 500italic);
@import url(http: //fonts.googleapis.com/css?family=Roboto+Condensed:400italic, 700italic, 400, 700, 300);
@charset "utf-8";

article, footer, header, nav, section {
  display: block;
}

canvas {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

html,body {
  width: 100%;
  height: 100%;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  font: 14px/1.5em 'Roboto', sans-serif;
  color: #0c3d4d;
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/bg.jpg) top center;
  overflow-y: scroll;
  overflow-x: hidden;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}



h2 {
  font-size: 1.5em;
  margin: 0 0 0.83em 0;
}

h2 .dk {
  font-size: 35px;
  font-weight: normal;
  color: #FFF;
}

h2 .kg {
  font-size: 34px;
  font-weight: normal;
  color: #FFF;
}

h3 {
  font-size: 1.17em;
  margin: 0 0 1em 0;
}

strong {
  font-weight: bold;
  color: #580a6e;
  font-family: 'Roboto Condensed', sans-serif;
}

p {
  margin: 0;
  padding: 0 0 1em 0;
}

ul {
  margin: 1em 0;
  padding: 0 0 0 20px;
}

nav ul {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.mast {
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  position: relative;
  width: 960px;
  width: 90%;
}

.block {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  word-wrap: break-word;
}

.region:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.content:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

img {
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a:link, a:visited {
  color: #24b2be;
  text-decoration: none;
}

a:hover, a:focus {
  color: #999;
}

a:active {
  text-decoration: none;
}

.block h2 {
  text-align: center;
}

.left {
  float: left;
}

.right {
  float: right;
}

ul.menu:after, .mast:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

ul.menu, .mast {
  display: block;
}

#gradientbg {
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/gradient-bg.jpg) top center repeat-x fixed;
}

#mainbg {
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/mainbg.jpg) top center repeat-x fixed;
  padding-top: 80px;
}

#header {
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/header-bg.jpg) top center repeat-x;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 990;
}

#nav-bg {
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/nav-bg.png) bottom center repeat-x;
}

#cloudbg {
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/cloudbg.png) top center no-repeat;
}

#page-header {
  text-align: center;
}

#block-menu-block-1 ul.menu {
  margin: 0;
  padding: 28px 0 4px 0;
}

#block-menu-block-1 ul.menu li {
  display: inline;
  font-size: 20px;
  padding: 0 25px;
}

#block-menu-block-1 ul.menu li a {
  display: inline;
  color: #FFF;
  padding: 10px 10px 3px 10px;
  text-decoration: none;
}

#block-block-3 h2 {
  padding-left: 57px;
}

#wherewhere-wrap {
  padding-right: 56px;
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/whenwhere-bg.png) bottom center no-repeat;
  padding-bottom: 83px;
  margin-bottom: 80px;
  position: relative;
}

.whenwhereblock {
  padding: 14px 14px 13px 57px;
  background: #f5f3ed url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/ganeshji.png) top left no-repeat; 
}

.whenwhereblock strong {
  color: #0c3d4d;
}

.whenwhereblock .wheremap {
  width: 30%;
}

.whenwhereblock .whereinfo {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  color: #0c3d4d;
}

.whenwhereblock .whereinfo a {
  color: #580a6e;
  font-weight: 700;
  text-decoration: none;
}

.whenwhereblock .whereinfo a:hover {
  color: #999;
}

.map-heart {
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/info-heart.png) 0 2px no-repeat;
  padding-left: 60px;
  margin-left: 32%;
}

.map-mehendi{
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/info-mehendi.png) 0 2px no-repeat;
  padding-left: 60px;
  margin-left: 32%
}

.map-reception{
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/info-reception.png) 0 2px no-repeat;
  padding-left: 60px;
  margin-left: 32%
}
.map-time {
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/info-clock.png) 0 2px no-repeat;
  padding-left: 60px;
  margin-left: 32%;
}

.map-driving {
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/info-car.gif) 0 0 no-repeat;
  padding-left: 60px;
  margin-left: 32%;
}

.map-notsd {
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/info-luggage.gif) 0 5px no-repeat;
  padding-left: 60px;
  margin-left: 32%;
}

#foot-wrap {
  background: url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/footer-h2.png) top center repeat-x;
  padding-bottom: 30px;
  text-align: center;
  color: #003366;
  font-size: 10px;
  width: 100%;
}

#block-block-4 p.credits {
  padding: 7px 0 30px 0;
}

.offset {
  float: left;
  width: 100%;
  display: block;
  background: #1c2228;
  margin-top: -390px;
}

#main-para {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 0;
}

#main-para .wrapouter {
  background: transparent url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/para1.png) top center repeat-x;
}

#main-para .outer {
  background: transparent url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/para2.png) top center repeat-x;
}

#main-para .inner {
  background: transparent url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/para3.png) top center repeat-x;
}

#main-para .cloud1 {
  background: transparent url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/cloud5.png) top center no-repeat;
}

#main-para .cloud2 {
  background: transparent url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/cloud2.png) top center no-repeat;
}

#main-para .cloud4 {
  background: transparent url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/cloud4.png) top center no-repeat;
}

#main-para .moon {
  background: transparent url(https://dl.dropboxusercontent.com/u/58780672/WeddingWebsite/site-images/moon.png) top center no-repeat;
}

#main-para #wrap-clouds {
  width: 1280px;
  margin: 0 auto;
}

@media screen {
  .mast {
    width: 75%;
  }

  .block {
    padding: 0px 0px;
  }

  #block-block-2 .deb, #block-block-2 .nik {
    min-height: 353px;
    height: auto !important;
    height: 353px;
  }

  #block-menu-block-1 ul.menu li {
    padding: 0 15px;
  }

  #block-block-2 .content {
    padding-right: 10px;
    padding-left: 10px;
  }

  .offset {
    margin-top: -340px;
  }
}

/*Our Story*/

.clearfix {
  overflow: auto;
  zoom: 1;
}

#theb-bg {
  position: absolute;
  top: -10px;
  left: -45px;
}

#thev-bg {
  position: absolute;
  top: 20px;
  right: -60px;
}

#block-block-2 {
  padding-bottom: 50px;
  position: relative;
  z-index: 100;
}

#block-block-2 .deb, #block-block-2 .nik {
  background-color: #f5f3ed;
  padding: 15px 0;
}

#block-block-2 .deb h3, #block-block-2 .nik h3 {
  color: #580a6e;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
}

#block-block-2 .deb h3 span.dk, #block-block-2 .nik h3 span.dk {
  color: #0c3d4d;
  font-size: 20px;
}

#block-block-2 .deb {
  width: 49%;
}

#block-block-2 .deb .content {
  padding-right: 10px;
}

#block-block-2 .deb img {
  padding-right: 15px;
}

#block-block-2 .nik {
  width: 49%;
}

#block-block-2 .nik .content {
  padding-left: 10px;
}

#block-block-2 .nik img {
  padding-left: 10px;
}

#canvas {
  position: absolute;
  top: 150px;
  left: -210px;
  z-index: 0;
}

// Classes
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
 
}

// Usage as mixins
.element {
  .center-block();
}

