<div class="offset" id="gifts"></div>

<div class="gifts"<h2>Gifts</h2></div>
<div class="gifts-section">
</br>
<div class= "gifts-text">
<p>We would love for you to join us for our wedding, nothing would please us more than you
  being present there. Gifts are optional, we mean it! If you must however still insist
  then feel free to send us giftcards from a store of your choice in the list.
</p>


 <a href="http://www.amazon.com/b/ref=gc_surl_giftcards?node=2238192011" target="_blank"> <label class="amazon"></label></a>
  <a href ="https://play.google.com/intl/en-US_us/about/giftcards" target="_blank"><label class="google"></label></a> 
   <a href="http://store.apple.com/us/personalize/itunes" target="_blank"><label class="itunes"></label></a> 
   <a href="https://www-secure.target.com//c/giftcards/-/N-5xsxu" target="_blank"><label class="target"></label> </a> 


<p> No physical gifts please, we won't be able to take them with us to the U.S.
  Again, if you must insist then you can post them directly to our U.S address -
  30 Newport Pkwy, Apt 706, Jersey City, NJ - 07310
</p>
</div>
</br>
</div>
