<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>The Wedding Story of Nikhil &amp; Deboshrestha</title>
  <meta name="MobileOptimized" content ="width">
  <meta name="HandheldFriendly" content ="true">
  <meta name="apple-mobile-web-app-capable" content ="yes">
  <meta http-equiv="cleartype" content ="on">
  <meta http-equiv="X-UA-Compatible" content ="IE =edge, chrome =1">
  <link type="text/css" rel="stylesheet" href="css/unified-styles.css" media="all" />
</head>

<body class="html front no-sidebars page-node page-node- page-node-34 node-type-page" >
  <div id="gradientbg">
    <div id="mainbg">
      <div class="mast logo">
        <%= image_tag(get_image_url('logo-blank.png')) %>
      </div>
      <div id="header">
        <div id="nav-bg">
          <div id="cloudbg">
            <div id="main-para">
              <div class="wrapper wrapouter">
                <div class="wrapper outer">
                  <div class="wrapper inner">
                    <div id="wrap-clouds">
                      <div class="wrapper cloud2">
                        <div class="wrapper cloud1">
                          <div class="wrapper cloud4">
                            <div class="wrapper moon">
                              <br/><br/><br/><br/><br/><br/><br/><br/><br/>
                              <br/><br/><br/><br/><br/><br/><br/><br/>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="page-header" class="mast">
              <header role="banner" class="masthead">
                <a href="/" title="Home" rel="home" class="logo block">
                  <%= image_tag(get_image_url('logo.png')) %>
                </a>
                <section class="region region-nav">
                  <nav id="block-menu-block-1" class="block block-menu-block first">
                    <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-1">
                      <ul class="menu">
                        <li class="first leaf">
                          <a href="#story" class="smoothScroll">Our Story</a>
                        </li>
                        <li class="leaf">
                          <a href="#when" class="smoothScroll">When &amp; Where</a>
                        </li>
                        <li class="leaf">
                          <a href="#friends" class="smoothScroll">Our Friends</a>
                        </li>
                        <li class="leaf">
                          <a href="photos">Photos</a>
                        </li>
                        <li class="last leaf">
                          <a href="gifts">Gifts</a>
                        </li>
                      </ul>
                    </div>
                  </nav>
                </section>
              </header>
            </div>  <!-- end #page-header -->
          </div> <!-- end #cloudbg -->
        </div> <!-- end #navbg -->
      </div> <!-- end #header -->

      <%= yield %>

      <div id="foot-wrap">
      <div class="mast footer">
        <footer class="region region-footer clearfix" role="contentinfo">
          <article id="block-block-4" class="block block-block first ">
            <h2><span class="dk">The</span> <span class="kg">end</span></h2>
            <p class="credits">Nikhil &amp; Deboshrestha  |    Oh &amp; they lived happily ever after</p>
            <p><%= image_tag(get_image_url('footer.png')) %>​</p>
          </article>
        </footer>
      </div>
    </div>
  </div> <!--end #mainbg-->
</div> <!--end #gradientbg-->
<script type="text/javascript" src="scripts/jquery-1.11.2.min.js"></script>
<script src="scripts/jquery.parallax-0.2-min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="scripts/smoothscroll.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
<script src="scripts/Ai2CanvasAnimation.js"></script>
</body>
</html>
