<div class="offset" id="rsvp"></div>

<% if session['access_token'] %>
    <form class="form-horizontal" method="POST" action="/rsvp">
    <fieldset>

  <div class="forms">
    <h2>Répondez s'il vous plaît</h2>
  </div>


<div class="form-style">
 <div class="form-text">
   <h2 class="welcome-msg"><%='Welcome ' + @profile["first_name"].downcase + '! | ' %> <a class="logout" href ="/logout"> logout </a></h2>
  <div class="form-group">
    <label class="col-md-4 control-label" for="attending_radios">Attending?</label>
    <!-- Radio buttons (inline) -->
    <div class="col-md-4">
      <label class="radio-inline" for="attending_radios-0">
        <input type="radio" name="attending_radios" id="attending_radios-0" value="1" checked="checked">
        Yes
      </label>
      <label class="radio-inline" for="attending_radios-1">
        <input type="radio" name="attending_radios" id="attending_radios-1" value="2">
        May be
      </label>
      <label class="radio-inline" for="attending_radios-2">
        <input type="radio" name="attending_radios" id="attending_radios-2" value="0">
        No
      </label>
    </div>
  </div>

  <!-- Multiple Checkboxes -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="locations_checkboxes">Where will we see you?</label>
    <div class="col-md-4">
    <div class="checkbox">
      <label for="locations_checkboxes-0">
        <input type="checkbox" name="locations_checkboxes[]" id="locations_checkboxes-0" value="1">
        The Wedding
      </label>
    </div>
    <div class="checkbox">
      <label for="locations_checkboxes-1">
        <input type="checkbox" name="locations_checkboxes[]" id="locations_checkboxes-1" value="2">
        The Reception
      </label>
    </div>
    </div>
  </div>

  <!-- Textarea -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="textarea">Any Comments?</label>
    <div class="col-md-4">
      <textarea class="form-control" id="textarea" name="textarea">
        When do you plan to come?
        What do you think of our website?
        Or anything else that you want to let us know comes here.
      </textarea>
    </div>
  </div>

  <!-- Button (Double) -->
  <div class="form-group">
    <label class="col-md-4 control-label" for="save_button">Done?</label>
    <div class="col-md-8">
      <button id="save_button" name="action" value="save" class="btn btn-success">Save</button>
      <button id="discard_button" name="action" value="discard" class="btn btn-danger">Discard</button>
    </div>
  </div>
</div>
</br>
</div>
</div>
  </fieldset>
  </form>
<% else %>
  <div class="log-fb-block"><p class="log-fb-text">You need to be logged in via facebook to RSVP. Click <%= link_to("here", "/login") %> to log in. </p></div>
<% end %>
